# Don't use the .env file, but use the inline environment variables (Taskfile / Docker / manually)

ENV=local|dev|prod|test

SERVICE_NAME=shortlink-link-api
SERVICE_VERSION=0.0.0

SHORT_LINK_LENGTH=7
ATTEMPTS_GENERATE_SHORT_LINK_LIMIT=5
GRACEFUL_SHUTDOWN_PER_RESOURCE_TIMEOUT=15s

HTTP_HOST=0.0.0.0
HTTP_PORT=8080
HTTP_IDLE_TIMEOUT=10s
HTTP_READ_TIMEOUT=10s
HTTP_WRITE_TIMEOUT=10s

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_SSL_MODE=disable
POSTGRES_MAX_IDLE_CONNS=10
POSTGRES_MAX_OPEN_CONNS=100
POSTGRES_CONN_MAX_LIFETIME=5m
POSTGRES_PING_TIMEOUT=5s
