# Don't use the .env file, but use the inline environment variables (Taskfile / Docker / manually)

ENV=local/dev/prod

SERVICE_NAME=shortlink-link-api
SERVICE_VERSION=0.0.0

GRACEFUL_SHUTDOWN_PER_RESOURCE_TIMEOUT=15s

HTTP_HOST=0.0.0.0
HTTP_PORT=8080
HTTP_IDLE_TIMEOUT=10s
HTTP_READ_TIMEOUT=10s
HTTP_WRITE_TIMEOUT=10s

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
